doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    // CSS (load bootstrap)
    base(href='/client/')

    meta(name='description', content='Yak Hub instant call center')
    meta(name='author', content='Tom Murray')
    link(rel='icon', href='/favicon.ico')
    title Yak Hub

    // Intercom
    script (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/m28yn4x9';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()

    // Bootstrap core CSS
    link(href='/libs/bootstrap/dist/css/bootstrap.css', rel='stylesheet')

    // Yak hub font
    link(href="http://fonts.googleapis.com/css?family=Dosis:300,400,500" rel="stylesheet" type="text/css")

    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400,600,700', rel='stylesheet', type='text/css')
    link(href='/libs/font-awesome/css/font-awesome.min.css')

    //textAngular
    link(rel='stylesheet', href='/libs/textAngular/dist/textAngular.css')
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.css')

    // Custom styles for this template
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/animations.css', rel='stylesheet')

  body(ng-app='app')
    //- // NAVIGATION
    //- // MAIN CONTENT
    <div id='MainView' ui-view></div>
  //- script(src="//static.intercomcdn.com/intercom.v1.js")
  script(src='/libs/jquery/dist/jquery.min.js')
  script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
  script(src="https://js.pusher.com/3.0/pusher.min.js")
  script(src='/libs/angular/angular.min.js')
  script(src="https://checkout.stripe.com/checkout.js")
  //- script(src='/libs/angular-intercom-mini/intercom.js')
  script(src='/libs/angular-ui-router/release/angular-ui-router.min.js')
  script(src='/libs/angular-clipboard/angular-clipboard.js')
  script(src='/libs/angular-animate/angular-animate.min.js')
  script(src="/libs/angular-strap/dist/angular-strap.min.js")
  script(src="/libs/angular-strap/dist/angular-strap.tpl.min.js")
  script(src='/libs/textAngular/dist/textAngular-rangy.min.js')
  script(src='/libs/textAngular/dist/textAngular-sanitize.min.js')
  script(src='/libs/textAngular/dist/textAngular.min.js')
  script(src='/libs/ng-csv-import/angular-csv-import.js')
  script(src='js/app.js')
  // Services
  script(src='js/services/client.js')
  script(src='js/services/alert.js')
  script(src='js/services/campaign.js')
  script(src='js/services/lead.js')
  script(src='js/services/call.js')
  script(src='js/services/message.js')
  // Controller
  script(src='js/controllers/login.js')
  script(src='js/controllers/home.js')
  script(src='js/controllers/dashboard.js')
  script(src='js/controllers/setup.js')
  script(src='js/controllers/results.js')
  script(src='js/controllers/stats.js')
  script(src='js/controllers/updates.js')
